@charset "ISO-8859-1";

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}
 
nav{
	display: flex;
	justify-content: space-around;
	height: 5rem;
	align-items: center;
	background-color: #6d6d6d;
}

.nav-item {
	color: white;
}

.nav-btn {
	width: 100%;
    padding: 10px;
    border: none;
    background-color: #e4e4e4;
    color: #6d6d6d;
    border-radius: 5px;
    cursor: pointer;
}

.container {
    width: 500px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
 
h1 {
    color: #333;
    text-align: center;
}
 
form {
    margin-top: 20px;
}
 
label {
    display: block;
    margin-bottom: 5px;
}
 
input{
    width: calc(100% - 10px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
 
input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
 
input[type="submit"]:hover {
    background-color: #45a049;
}

textarea , select { 
	width : 100% ; 
	padding : 10px ; 
	margin-bottom : 10px ; 
	border : 1px solid #ccc ;
	border-radius : 5px ; 
	box-sizing: border-box;
	}

a {
    color: #007bff;
    text-decoration: none;
}
 
a:hover {
    text-decoration: underline;
}

table {
	width: 80%;
	margin: auto;
	border-collapse: collapse;
	border-spacing: 0 10px;
}

.header-row {
	border-color: #333;	
	border-width: 2px;
	border-style: solid;
}

.PENDING {
	border-color: #ff5555;
	border-width: 2px;
	border-style: solid;
}

.INPROGRESS {
	border-color: #fad338;
	border-width: 2px;
	border-style: solid;
}

.COMPLETED {
	border-color: #45a049;	
	border-width: 2px;
	border-style: solid;
}

.todo-list {
	text-align: center;
}
